<?xml version="1.0"?>
<launch>
    <arg name="sim_mode" />

    <!-- actionlib servers -->
    <node name="rico_task_harmonizer" pkg="tiago_smach" type="task_harmonizer" respawn="false" output="screen" >
    </node>

    <param name="/kb_places_xml" type="string" value="$(find velmobil_navigation)/map/places.xml" />
    <param name="sim_mode" value="$(arg sim_mode)" />
</launch>
